<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title>List of all watchlists</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .watchlists {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .watchlists tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .watchlists td:last-child, td:first-child {
            width: 50px;
        }
    </style>

</head>
<body>
<h1>Film Library Application </h1>
<h2>Watch List INFO:</h2>

<div class="text">
    <h1></h1>
    <p></p>
</div>

<ul id="id" th:value="${id}" ></ul>

<a href = "watch-film-add.html" th:href = "@{/watch/info/{id}/film (id=${id}) }">Add film to watchlist</a>
<table class="watchlists">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    const watchId = document.getElementById("id").getAttribute("value");

    $(function () {
        $.get("/watchlists/"+ watchId).done(function (watchlist) {
            watchlist.films.forEach(function (film) {
                $('tbody').append(`
                    <tr>
                        <td>${film.id}</td>
                        <td>${film.title}</td>
                        <td>${film.author.id}</td>
                        <td>${film.genre.id}</td>
                        <td>${film.year}</td>
                        <td>${film.rating}</td>
                        <td>
                            <button onclick="deleteWatchFilm(watchId, ${film.id})">Delete</button>
                        </td>
                    </tr>
                `)
            });
        })
    });

    function deleteWatchFilm(watchId, filmId) {
        fetch("/watchlists/" + watchId + "/film/" + filmId, {
            method: "DELETE"
        })
            .then(() => {
                location.reload();
            })
    }


</script>

<a href="film-list.html" th:href="@{/film/list}"><button type="button">List of all films</button></a>
<button onclick="history.back()">Go Back</button>
<a href="watch-list.html" th:href="@{/}"><button type="button">Home Page</button></a>

</body>
</html>
